/* Preloader */

#preloader {
    position:fixed;
    left:0;
    top:0;
    z-index:99999999999;
    width:100%;
    height:100%;
    overflow:visible;
    background: #fff url('../img/preloader.gif') no-repeat center center;
}


/* Global Styles */
a {
	color: #E04343;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
	border-bottom: 1px dashed;
	outline:none!important;
}
a:hover,a:focus,a:active {
	color:#0D0D0D;
	text-decoration:none;
	outline:none!important;
}
p {
	color:#8c9398;
	word-spacing:1px;
	line-height:25px;
	font-size:14px;
}
h2 {
	font-size:15px;
	color:#059bf1 !important;
	text-transform:uppercase;
	font-weight:bold;
}
h2::after {
	border:solid 1px #CCCCCC;
	display:block;
	width:65px;
	margin:20px auto;
}
h6 {
	font-size:15px;
	color:#8c8c8c;
	text-transform:uppercase;
	font-weight:bold;
}
h6::after {
	border:solid 1px #CCCCCC;
	display:block;
	width:65px;
	margin-top: 20px;
}

/* Base */
html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
html,html a {
	-webkit-font-smoothing:antialiased;
	text-shadow:1px 1px 1px rgba(0,0,0,0.004);
}
body {
	margin:0;
	font-family: 'Open Sans',sans-serif;
}
/* Links */
a:focus {
	outline:thin dotted;
}
a:active,a:hover {
	outline: 0;
}
/* Typography */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
h1 {
	font-size:2em;
	margin:0.67em 0;
	color:#353535;
}
h2 {
	font-size:1.5em;
	margin:0.83em 0;
}
h3 {
	font-size:1.17em;
	margin:1em 0;
}
h4 {
	font-size:1em;
	margin:1.33em 0;
}
h5 {
	font-size:0.83em;
	margin:1.67em 0;
}
h6 {
	font-size: 12px;
	margin:2.33em 0;
}
abbr[title] {
	border-bottom:1px dotted;
}
b,strong {
	font-weight:bold;
}
blockquote {
	margin:0em 55px;
	border-left:4px solid #CCCCCC;
}
dfn {
	font-style:italic;
}
mark {
	background:#ff0;
	color:#000;
}
p,pre {
	margin:1em 0;
}
code,kbd,pre,samp {
	font-family:monospace,serif;
	_font-family:'courier new',monospace;
	font-size:1em;
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
q {
	quotes:none;
}
q:before,q:after {
	content:'';
	content:none;
}
small {
	font-size:75%;
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup {
	top:-0.5em;
}
sub {
	bottom:-0.25em;
}
p {
	font-size: 14px;
	font-weight:100;
	line-height: 28px!important;
}
/* Lists */
dl,menu,ol,ul {
	margin:1em 0;
}
dd {
	margin:0 0 0 40px;
}
menu,ol,ul {
	padding:0 0 0 40px;
}
nav ul,nav ol {
	list-style:none;
	list-style-image: none;
}
/* Embedded content */
img {
	border:0;
	-ms-interpolation-mode:bicubic;
}
svg:not(:root) {
	overflow: hidden;
}

/* Tables */
table {
	border-collapse:collapse;
	border-spacing: 0;
}
.inner {
	padding-top: 120px;
}
/* Navigation */
.menu-wrap a {
	color:#555d7c;
	outline:none!important;
}
.menu-wrap a:hover,.menu-wrap a:focus {
	color: #059bf1;
}
.content-wrap {
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	-webkit-transition:-webkit-transform 0.4s;
	transition:transform 0.4s;
	-webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);
	transition-timing-function:cubic-bezier(0.7,0,0.3,1);
}
.content {
	position:relative;
	background:#b4bad2;
	padding-bottom: 12em;
}
/* Common styles for menu button and menu-wrap */
.menu-button,.menu-wrap {
	position:fixed;
	width:2.5em;
	height:2.25em;
	font-size:1.5em;
	-webkit-transform:translate3d(1.5em,1.5em,0);
	transform: translate3d(1.5em,1.5em,0);
}
/* Menu Button */
.menu-button {
	z-index:1000;
	margin:0;
	padding:0;
	border:none;
	text-indent:2.5em;
	color:transparent;
	background:transparent;
}
.menu-button::before {
	position:absolute;
	top:0.5em;
	right:0.5em;
	bottom:0.5em;
	left:0.5em;
	background: linear-gradient(#059bf1 20%,rgba(0, 0, 0, 0) 20%,rgba(0, 0, 0, 0) 40%,#059bf1 40%,#059bf1 60%,rgba(0, 0, 0, 0) 60%,rgba(0, 0, 0, 0) 80%,#059bf1 80%);
	content:'';
}
.menu-button:hover {
	opacity: 0.6;
}
/* Menu */
.menu-wrap {
	z-index:999;
	background: rgba(255, 255, 255, 1);
	-webkit-transition:width 0.4s,height 0.4s,-webkit-transform 0.4s;
	transition:width 0.4s,height 0.4s,transform 0.4s;
	-webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);
	transition-timing-function:cubic-bezier(0.7,0,0.3,1);
}
.menu {
	height:100%;
	overflow:hidden;
	font-size:0.75em;
}
.icon-list {
	float:right;
	padding:2.5em 2em 0 6em;
}
.icon-list a {
	opacity:0;
	display:inline-block;
	padding:0 0.2em;
	margin:0 15px;
	text-align:center;
	font-size:1.2em;
	color: #353535;
}
.icon-list a span {
	display:block;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:0.5em;
	font-weight:700;
	padding-top: 0.5em;
}
/* Shown menu */
.show-menu .content-wrap {
	-webkit-transition-delay:0s;
	transition-delay:0s;
	-webkit-transform:translate3d(0,125px,0);
	transform:translate3d(0,125px,0);
}
.show-menu .menu-wrap {
	width:100%;
	height:125px;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition-delay:0s;
	transition-delay:0s;
	border-bottom: 1px solid #059bf1;
}
.show-menu .icon-list a {
	opacity:1;
	-webkit-transition:opacity 0.4s 0.4s;
	transition:opacity 0.4s 0.4s;
}
.show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay:0.42s;
	transition-delay:0.42s;
}
.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay:0.44s;
	transition-delay:0.44s;
}
.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay:0.46s;
	transition-delay:0.46s;
}
.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay:0.48s;
	transition-delay:0.48s;
}
.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay:0.5s;
	transition-delay: 0.5s;
}
/* Renato */
.renato {
	background: url('../img/header-bg.png') right bottom no-repeat;
	background-size: contain;
	padding:110px 0 100px 0;
	height:auto;
	background-color: #FBFBFB;
}
.renato h1 {
	font-size: 120px;
	letter-spacing: -8px;
	margin: 0;
	font-weight: 600;
	line-height: 95px;
	text-transform: uppercase;
}
.renato h1 span {
	color:#a1a9b0;
	/* display:inline-block; */
}
.renato h3 {
	font-size: 20px;
	margin:0;
	padding:0;
	opacity:0.5;
	color: #E04343;
	letter-spacing: 18px;
	line-height: 50px;
	text-transform: uppercase;
}
.renato p {
	letter-spacing:1px;
	color:#fff;
	font-size: 15px;
}

/* About */
.about .about-content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #059bf1;
}
.about .about-content ul {
	list-style: none;
	padding: 0;
}
.about .about-content ul li {
	padding-bottom: 10px;
}
.about .about-content ul i {
	font-size: 20px;
	padding-right: 2px;
	color: #059bf1;
}
.about .about-content p:last-child {
	margin-bottom: 0;
}
.about img {
	width: 100%;
}
	
  
  /*--------------------------------------------------------------
  # Skills
  --------------------------------------------------------------*/
  .skills .progress {
	height: 60px;
	display: block;
	background: none;
	border-radius: 0;
  }
  
  .skills .progress .skill {
	padding: 10px 0;
	margin: 0 0 6px 0;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #222222;
  }
  
  .skills .progress .skill .val {
	float: right;
	font-style: normal;
  }
  
  .skills .progress-bar-wrap {
	background: #f3f3f3;
  }
  
  .skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #059bf1;
  }
  
  /*--------------------------------------------------------------
  # Facts
  --------------------------------------------------------------*/
  .facts .counters span {
	font-size: 48px;
	display: block;
	color: #059bf1;
  }
  
  .facts .counters p {
	padding: 0;
	margin: 0 0 20px 0;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
  }
  
  
  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume .resume-title {
	font-size: 26px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #222222;
  }
  
  .resume .resume-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #059bf1;
	position: relative;
  }
  
  .resume .resume-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #059bf1;
	margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
	font-size: 16px;
	background: #effbf9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
	color: #059bf1;
  }
  
  .resume .resume-item ul {
	padding-left: 20px;
  }
  
  .resume .resume-item ul li {
	padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
	padding-bottom: 0;
  }
  
  .resume .resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #fff;
	border: 2px solid #059bf1;
  }


/* Boucing Arrow Animation */
@keyframes arrowbounce {
	from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-moz-keyframes arrowbounce {
	/* Firefox */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-webkit-keyframes arrowbounce {
	/* Safari and Chrome */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-o-keyframes arrowbounce {
	/* Opera */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}

/* Responsive */
/* 320px (iPhone) */
@media screen and (max-width:414px) {
	.renato h1 {
		font-size: 100px;
		line-height: 80px;
		margin-top: 65px;
	}
	.about img {
		width: 30%;
	}
}
/* 480px (WVGA - Low End Windows Phone) */
@media screen and (max-width:480px) {
	.fluid-white {
		display:none;
	}
	.wp2,.wp4,.wp5,.light-box {
		margin-bottom: 30px;
	}
	.about img {
		width: 30%;
	}
}

/** Responsive fixes **/
@media screen and (max-width:767px) {
	.inner {
    padding-top: 10px;
    text-align: center;
	}
	.renato h3 {
	    letter-spacing: 10px;
	}
	.renato {
	    padding-bottom: 0;
	}

	.subscribe input[type=text] {
	    width: 50%;
	    margin-bottom: 30px;
	}

	.btn-send {
	    float: none;
	
	    margin-bottom: 80px;
	}
	.effects .img {
    	margin-bottom: 15px;
	}
	.show-menu .icon-list a {
		display: block;
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}
	.icon-list {
		float:left;
		padding:2.5em 2em 0 6em;
	}
	.show-menu .menu-wrap {
		height: 100%;
	}
	.about img {
		width: 40%;
	}
}
@media screen and (max-width:50em) {
	.icon-list a {
		padding:0.5em 0em;
		margin:0 5px;
		font-size:1em;
	}
	.about img {
		width: 40%;
	}
}
@media screen and (max-width:991px) {
	.renato {
    	padding: 0px;
	}

	.subscribe {
	    padding-bottom: 40px;
	}
	.about img {
		width: 50%;
	}
}
/* Bootstrap 990px Breakpoint to 480px */
@media screen and (min-width:480px) and (max-width:991px) {
	.iphone {
		display:none;
	}
	.fluid-white {
		display:none;
	}
	.wrapper {
		background:#f3f5f8;
		height:540px;
	}
	.wp2,.wp4,.wp5,.light-box {
		margin-bottom:30px;
	}
	.about img {
		width: 50%;
	}
}
/* xGA iPad */
@media screen and (max-width:1024px) {
	.wp3 {
		background-position:50px 0;
	}
	.swag {
		background-attachment:scroll;
	}
	.subscribe {
		background-attachment: scroll;
	}
	.about img {
		width: 50%;
	}
}
/* 1200px (Small Desktop,Netbook) */
@media screen and (max-width:1280px) {
	.wp3 {
		background-position: 50px 0;
	}
	.about img {
		width: 50%;
	}
}

